services:
  airflow-init:
    build: .
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__CORE__FERNET_KEY=PAqBeGJLJTYFzVkOGHWIYXdLO7XdXz5yTdxAGJe9ezM=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - airflow_data:/opt/airflow
      - ./dags:/opt/airflow/dags
      - ./utils:/opt/airflow/utils
      - ./datamart:/opt/airflow/datamart
      - ./model_store:/opt/airflow/model_store
      - ./monitoring_logs:/opt/airflow/monitoring_logs
      - ./main.py:/opt/airflow/main.py
    entrypoint: >
      /bin/bash -c "airflow db migrate &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true"

  airflow-webserver:
    build: .
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__CORE__FERNET_KEY=PAqBeGJLJTYFzVkOGHWIYXdLO7XdXz5yTdxAGJe9ezM=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - airflow_data:/opt/airflow
      - ./dags:/opt/airflow/dags
      - ./utils:/opt/airflow/utils
      - ./datamart:/opt/airflow/datamart
      - ./model_store:/opt/airflow/model_store
      - ./monitoring_logs:/opt/airflow/monitoring_logs
      - ./main.py:/opt/airflow/main.py
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    build: .
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__CORE__FERNET_KEY=PAqBeGJLJTYFzVkOGHWIYXdLO7XdXz5yTdxAGJe9ezM=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - airflow_data:/opt/airflow
      - ./dags:/opt/airflow/dags
      - ./utils:/opt/airflow/utils
      - ./datamart:/opt/airflow/datamart
      - ./model_store:/opt/airflow/model_store
      - ./monitoring_logs:/opt/airflow/monitoring_logs
      - ./main.py:/opt/airflow/main.py
    command: scheduler

volumes:
  airflow_data:
